################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/benson88.github.io/FileContentIndex/0a2a7210-63ea-4e14-b894-b6812c85b417.vsidx
/.gitignore
/.vs/benson88.github.io/FileContentIndex/379e9982-92bc-4066-be0f-ef3bdf800682.vsidx
/.vs/slnx.sqlite
/.vs/benson88.github.io/FileContentIndex/8cfadac3-035a-409b-a7e6-1c35c3d14a31.vsidx
*.vsidx
/.vs/benson88.github.io/v17/.wsuo
/.vs/VSWorkspaceState.json
/.gitignore
